<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="produtoForm" (submit)="enviar()" >

    <ion-item>

      <ion-label position="floating">Nome: </ion-label>
      <ion-input formControlName="nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Valor: </ion-label>
      <ion-input formControlName="valor" placeholder="0,00"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Quantidade: </ion-label>
      <ion-input formControlName="quant" placeholder="00"></ion-input>
    </ion-item>

    <ion-button shape="round" size="full" fill="outline" color="medium" type="submit">Gravar</ion-button>

    <ion-progress-bar [value]="progress" ></ion-progress-bar>
    
  </form>

</ion-content>
<ion-button shape="round" size="full" fill="outline" color="medium" routerLink="/home"> Voltar </ion-button>